*.o
moc_*
ui_*

*.aux
*.dvi
*.out
*.nav
*.tdo
*.toc
*.log
*.lab
*.bbl
*.blg
*.synctex
*.synctex.gz
*.bcf
*.run.xml
*.bib.sav

report.pdf

vsbak
./Makefile
vsbak_config.ini
vsbak.pro.user
.qmake.stash
.DS_Store
